/* Add CSS Styling */
.click1,
.click2 {
    font-size: 28px;
    font-family: Helvitica, 'Times New Roman', sans-serif;
}

.click1{
    color:rgb(255,255, 255);
    background-color: rgb(0,0,0);
}

.click2{
    background-color: rgb(255,255,0
    );
}